Workshop n8n/🍧 GranitAI.json
{
  "name": "🍧 GranitAI",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -32
      ],
      "id": "241a259f-59b9-497a-a16a-1f2a97b57aa0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://goweather.xyz/weather/Messina",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -32
      ],
      "id": "9350e9ef-34b2-4376-8d8a-c4d962178c7b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        112,
        -32
      ],
      "id": "5b5c38d1-82f4-4498-ac7d-d8d167c3f268",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Suggerisci una granita.",
        "options": {
          "systemMessage": "=Sei un esperto messinese di granite siciliane. In base alla temperatura, la descrizione, il vento e l'ora devi scegliere il gusto della granita più appropriato. \n\n- Temperatura: {{ $json.temperature }}\n- Descrizione: {{ $json.description }}\n- Vento: {{ $json.wind }}\n- Ora: {{ $('Date & Time').item.json.currentDate }}\n\nUtilizza i seguenti tools:\n- Simple Vectore Store: ti fornisce il menù delle granite."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -32
      ],
      "id": "52a6597f-6f60-4f73-b3f6-b8ef544d670a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        160
      ],
      "id": "ec97d70b-ae29-4268-9c63-0ecde4c69640",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wBFoF7MjE8dUIYmi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        800,
        176
      ],
      "id": "00a2eb57-969c-4a4e-a598-94efb694f485",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1BOC1NPfJ9932V9L2OkBQttOqbjQN9umy",
          "mode": "list",
          "cachedResultName": "Menù Pasticceria Articificiale.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1BOC1NPfJ9932V9L2OkBQttOqbjQN9umy/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        464
      ],
      "id": "dd4acfa8-32b6-444f-9d65-7221f5124a28",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PlfKTl7hXZjQ4iVO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente AI 🤖\nQui settiamo i vari servizi utili per il nostro Agente AI",
        "height": 464,
        "width": 1360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -128
      ],
      "id": "705c9840-c492-4c2f-b18e-c22508a05b4d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG\nUtilizziamo una nostra cartella su Drive per caricare l'immagine del nostro menù",
        "height": 448,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        352
      ],
      "id": "eaf31d2a-5812-4920-b3c6-a7524d1308cb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        640
      ],
      "id": "969c4b79-d201-4dea-a621-17620eb5ad3a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        576,
        576
      ],
      "id": "1b929674-85f9-4ad2-b8ee-37dfd2ead5f1",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "ro337Ln2FcwzddLA",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "917787172",
        "text": "=🍧 GranitAI Consiglia 🍧\n\n🎯 Il Consiglio dell'Esperto:\n{{ $json.output }}\n\n📍 Messina - {{ $('Format Data').item.json.Data }}\n\n🌡️ Meteo Attuale:\n• Temperatura: {{ $('HTTP Request').item.json.temperature }}\n• Condizioni: {{ $('HTTP Request').item.json.description }}\n• Vento: {{ $('HTTP Request').item.json.wind }}\n\nPowered by AI & Tradizione Messinese ✨",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -32
      ],
      "id": "5b4bcff8-0e90-493a-9cee-e091166ef638",
      "name": "Send a text message",
      "webhookId": "a325f46e-9227-4276-8283-2bf182fd3cdc",
      "credentials": {
        "telegramApi": {
          "id": "zk4AODxAMTpIffj9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        256,
        464
      ],
      "id": "4a5ef543-18c4-42ea-a7e7-8010e8fdb4d2",
      "name": "DB"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "yyyy-MM-DD HH:MM:SS",
        "outputFieldName": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        288,
        -32
      ],
      "id": "e759a9bf-d6f4-4143-b633-63cc0a71a6be",
      "name": "Format Data"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "DB",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v0",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Rome"
  },
  "versionId": "a00c80de-62cf-4084-8819-d67cdc48e31a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cdeda596b236009bac03815ee160a560d7ff2c877a1d30cb15c7a1a590fb057"
  },
  "id": "iPBNetVlML4QbU6R",
  "tags": [
    {
      "createdAt": "2025-09-01T10:12:47.018Z",
      "updatedAt": "2025-09-01T10:12:47.018Z",
      "id": "YEJXvVv60ngvEFP7",
      "name": "DM"
    },
    {
      "createdAt": "2025-10-14T10:08:23.993Z",
      "updatedAt": "2025-10-14T10:08:23.993Z",
      "id": "vtv775MCz21acdUL",
      "name": "SIS"
    }
  ]
}